* {
  color: white;
  user-select: none;
  background-color: #000000;
}

#root {
  width: 800px;
  margin: 20px auto;
}
main {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.lose,
.win {
  margin: 20px;
  height: 15px;
  text-align: center;
  padding: 40px;
}
.win {
  background-color: #1a881e;
}
.lose {
  background-color: #871b1b;
}
.lang-container {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;

  span {
    display: block;
    width: 100px;
    height: 20px;
    background-color: #06006f;
    /* width: fit-content; */
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
  }
  .dead {
    background-image: url("./imgs/istockphoto-165604372-612x612.jpg");
    background-size: 123px 47px;
    background-repeat: no-repeat;
  }
}
.chosen-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.chosen {
  display: inline-block;
  margin: 2px;
  width: 25px;
  height: 35px;
  background-color: #9e9e9e;
  padding: 7px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: transparent;
}
.able {
  color: white;
  background-color: #03a9f4;
}

section {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
button {
  cursor: pointer;
  background-color: #512da8;
  width: 40px;
  height: 50px;
  font-weight: bold;
  font-size: 22px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}
.unclick {
  cursor: no-drop;
  background-color: #607d8b;
}
.newGame {
  background-color: #1976d2;
  width: fit-content;
  margin: 40px;
}
